
/*弹出窗口*/
.alerts a
{
    color: #2BBFD5;
    text-decoration: none;
    vertical-align: baseline;
}
.alerts a:hover
{
    text-decoration: underline;
}
.alerts a:focus
{
    outline: 0 none;
}
.alerts
{
    position: fixed;
    top: 300px;
    left: 300px;
    background: #CCC;
    background: rgba(150,150,150,0.5);
    right: 12px;
    padding: 4px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.alerts .container
{
    border: 1px solid #A0A0A0;
    background: #FFF;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 10px;
}
.alerts .title
{
    position: relative;
    background: url(../images/bg_dialog.png) repeat-x 0 0;
    height: 27px;
    line-height: 27px;
    padding: 0 10px;
    font-weight: 600;
    -moz-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.alerts .title .close
{
    position: absolute;
    top: 6px;
    right: 6px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../images/d_close.png") no-repeat scroll 0 0 transparent;
}
.alerts .title .close:hover
{
    background-image: url("../images/d_close_h.png");
    text-decoration: none;
}
.alerts .content
{
    padding: 15px 10px;
    text-align: center;
}
.alerts .buttons
{
    text-align: center;
}
.alerts .buttons .btn_gray
{
    margin: 0 2px;
}
.alerts.warning .buttons
{
    background-color: #FFDD00;
}
.alerts.btn
{
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 12px;
    margin: 0;
    background: #5CC9E6 url(../images/bg_btn24.png) repeat-x scroll 0 0;
    border: medium none;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 3px #9e9e9e;
    -moz-box-shadow: 1px 1px 3px #9e9e9e;
    -khtml-box-shadow: 1px 1px 3px #9e9e9e;
    box-shadow: 1px 1px 3px #9e9e9e;
    blr: expression(this.onFocus=this.blur());
    outline: none;
}
.alerts.btn:focus
{
    -moz-outline-style: none;
}
.alerts.btn:hover
{
    background-position: 0px -25px;
    text-decoration: none !important;
}
.alerts.btn:active
{
    position: relative;
    top: 1px;
    background-position: 0px -50px;
}
.alerts button.btn, input.btn
{
    _padding: 0 3px;
}
.alerts.btn_yellow
{
    background-color: #FA9430;
}
.alerts .btn_green
{
    background-color: #AACB6B;
}
.alerts a.btn_gray
{
    border: 1px solid #BBB;
    display: inline-block;
    padding: 0 12px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-align: center;
    color: #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background: #F0F0F0;
    -moz-box-shadow: 0 1px 0px #FFF;
    -webkit-box-shadow: 0 1px 0px #FFF;
    -khtml-box-shadow: 0 1px 0px #FFF;
    box-shadow: 0 1px 0px #FFF;
    background: -moz-linear-gradient(top, #FFFFFF, #fCFCFC 3%, #E3E3E3 100%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), color-stop(2.5%, #fCfCfC ), color-stop(100%, #E3E3E3));
}
.alerts a.btn_gray:hover
{
    text-decoration: none;
    border: 1px solid #999;
    background: #E9E9E9;
    background: -moz-linear-gradient(top, #FFFFFF, #EFEFEF 3%, #E0E0E0 100%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), color-stop(2.5%, #EFEFEF ), color-stop(100%, #E0E0E0));
}
.alerts a.btn_gray:active
{
    background: #DDDDDD;
    border: 1px solid #999;
    background: -moz-linear-gradient(top, #FFFFFF, #DFDFDF 3%, #DDDDDD 100%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), color-stop(2.5%, #DFDFDF ), color-stop(100%, #DDDDDD));
}


/*删除弹出窗口*/
.kalerts{ background: url('../images/bookmarklist/kanBookmarkList.png') no-repeat -180px 0;display: block;width:205px; height: 105px;font:18px/46px "Microsoft YaHei",SimSun,tahoma,arial;}
.kalerts .content {padding: 15px 10px;text-align: left;padding: 5px 0 0 15px;color: #383838;}
.kalerts .buttons {position: relative;text-align: center;padding: 0 20px;}
.kalerts .buttons .btn_ok{position: absolute;top:0;left: 20px; background: url('../images/bookmarklist/kanBookmarkList.png') no-repeat -178px -125px;display: block;width: 70px;height: 30px;}
.kalerts .buttons .btn_ok:hover{background: url('../images/bookmarklist/kanBookmarkList.png') no-repeat -258px -125px;}
.kalerts .buttons .btn_cancel{position: absolute;top:0;right: 20px;background: url('../images/bookmarklist/kanBookmarkList.png') no-repeat -178px -163px;display: block;width: 70px;height: 30px;}
.kalerts .buttons .btn_cancel:hover{background: url('../images/bookmarklist/kanBookmarkList.png') no-repeat -258px -163px;}